
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

img{
    width: 100%;
}

section{
    padding: 20px 0;
    height: 600px;
}

 h1{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.top-area h1{
    color:#363958;
}

.top-area h2{
    color: #ff8367;
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
}



.container{
    margin: 100px auto;
    width: 1170px;
}
.content{
    float: left;
    width: 550px;

}

.content img{
    width: 500px;
    margin-right: 20px;
}

.content h1{
    color: #363857;
}

.content-pragraph{
    margin-bottom: 38px;
}

.my-button{
    text-decoration: none;
    background: linear-gradient(45deg, #f56260, #fa7261);
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}


#profile{
    margin: 100px 0;
}


.work-area{
    background-color: #f8f9fb;
}


.work-area h2{
    color: #363857;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}

.work-area span{
    color: #f45f5f;
}

.img-box{
    float: left;
    width: 28.333%;
    margin: 10px;
}


.text-content{
    text-align: center;
}

.text-content h1{
    font-size: 40px;
}

.work-area{
    padding: 100px;
}
.img-box{
    color: #6c6c6c;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 10px;
}

.img-box img{
    margin-bottom: 8px;
}
.img-box h3{
    color: #363857;
    margin: 0;
    margin-bottom: 5px;
}


.inquiry{
    background-image: url(images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    text-align: center;
}

.inquiry-block{
    padding: 10px;
}

.inquiry-block h2{
    font-size: 45px;
    color: #ffffff;
}



