
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

img{
    width: 100%;
}

 h1{
    font-size: 25px;
    font-weight: 400;
}

.top-area h2{
    color: #EC4F91;
    font-size: 45px;
    margin: 0;
}

section{
    padding: 120px 0;
    height: 700px;
}

.top-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}

.container{
    margin: 100px auto;
    width: 1170px;
}
.content{
    float: left;
    width: 550px;

}

.content img{
    width: 500px;
    margin-right: 20px;
}


.content-pragraph{
    margin-bottom: 38px;
}

.my-button{
    text-decoration: none;
    background: linear-gradient(45deg, #EC4F91, #ED4B73);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}


#profile{
    margin: 100px 0;
}
.biography-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}

#biography{
    margin-top: 150px;
}

.work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}


.img-box{
    float: left;
    width: 28.333%;
    margin: 10px;
}

.work-area h2{
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 80px;
}

.client-area{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    height: 400px;
}

.text-content{
    text-align: center;
}

.text-content h1{
    font-size: 40px;
}

.ceo{
    margin-bottom: 40px;
}

.ceo h3, p{
margin: 0;
}

.ceo p{
    color: gray;;
}

.email-block{
    background: linear-gradient(45deg, #EC4F91, #ED4B73);
    display: inline-block;
    padding:40px 140px;
    margin-top: 40px;
    color: #ffffff;
    border-radius: 10px;
}

.email-block a{
    color: #ffffff;
    text-decoration: none;
}

.text-content footer{
    margin-top: 270px;
}

footer{
    text-align: center;
}